body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    position: absolute;
    z-index: 30;
    font-size: 70px;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    text-transform: uppercase;
    width: 800px;
    height: 150px;
    left: 110px;
    top: 60px;
    line-height: 150px;
    color: #333333;
}

.search-container {
    position: absolute;
    z-index: 30;
    width: 500px;
    height: 80px;
    left: 110px;
    top: 200px;
    background: #454E53;
    border: 1px solid #979797;
    border-radius: 50px;
}

.search-container input {
    width: 100%;
    font-size: 42px;
    background: transparent;
    border: none;
    color: white;
}

.search-container input:focus {
    outline: none;
}

.search-container .search {
    height: 100%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.search i {
    cursor: pointer;
    font-size: 40px;
    color: white;
}

.stores-list {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

.stores-list-container {
    display: flex;
    position: absolute;
    z-index: 100;
    background-color: #454E53;
    width: 500px;
    left: 118px;
    top: 300px;
    border-radius: 40px;
    bottom: 260px;
    opacity: 80%;
    margin-top: 20px;
    height: 800px;
}

.store-container {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #979797;
}

.store-container-background {
    display: flex;
    flex-grow: 1;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 20px;
    transition: background 0.2s ease-in-out; 
}

.store-container-background:hover {
    background-color: rgb(29, 29, 29);
}


/* .store-container-background {
    display: flex;
    flex-grow: 1;
    border-radius: 18px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: all 0.2s ease-in-out;
}

.store-container-background :hover {
    background-color: #050505;
} */

.store-address {
    margin-top: 30px;
    height: 90px;
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
    color: whitesmoke;
}

.store-address span {
    display: block;
}

.store-phone {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: whitesmoke;
}

.store-phone i {
    transform: rotateY(180deg);
    color: whitesmoke;
}

.store-no-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b5adad;
    color: #454E53;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
}

.store-container {
    display: flex;
}

.store-info-container {
    flex-grow: 1;
}

.store-no-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 12.5%;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address,
.store-info-phone {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
